// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo{
height:40px;
length:40px;
}
.landingpic{}
.smallthumbnail{
height:150px;
length:150px;
}
